div {
    width: 100px;
    height:100px;
}

.container-a div {
    width: 100px;
    height:100px;
}

.container-b div {
    width: 100px;
    height:100px;
}
.container-a {
    background-color: red;
}

.container-b {
    background-color: blue;
}